<div class="screen">
    <div id="app">
<svg class="ActivityRings" viewBox='0 0 100 100'>
    <g class="ring ring1" style="transform: scale(1.5) rotate(180deg);">
        <circle stroke-width="3" r="15.915" cx="50%" cy="17.5" class="background" />
        <circle stroke-width="3" r="15.915" cx="50%" cy="17.5" class="completed" stroke-dasharray="12.5, 100" />
    </g>
    <g class="ring ring2" style="transform: scale(1) rotate(180deg);">
        <circle stroke-width="4" r="15.915" cx="50%" cy="0" class="background" />
        <circle stroke-width="4" r="15.915" cx="50%" cy="0" class="completed" stroke-dasharray="25, 100" />
    </g>
    <g class="ring ring3" style="transform: scale(0.5) rotate(180deg);">
        <circle stroke-width="8" r="15.915" cx="50%" cy="-50" class="background" />
        <circle stroke-width="8" r="15.915" cx="50%" cy="-50" class="completed" stroke-dasharray="37.5, 100" />
    </g>
    </svg>
    </div>
</div>

