<div class="container mx-auto flex flex-col h-screen overflow-auto items-center">
 <div class="flex-grow w-full flex items-center justify-center">
    <div class="circle bg-green-400" style="animation-delay: -3s"></div>
    <div class="circle bg-green-400" style="animation-delay: -2s"></div>
    <div class="circle bg-green-400" style="animation-delay: -1s"></div>
    <div class="circle bg-green-400" style="animation-delay: 0s"></div>
  </div>
  <p class="text-green-400 mb-24 text-center text-3xl">Put a click each time <br> you smoke</p>
</div>
