<div class="container mx-auto flex flex-col h-screen overflow-auto items-center">
  <div class="flex justify-center flex-grow flex-col">
    <h1 class=" text-green-400 text-3xl ">Welcome,<br>We are <strong>Ibreath</strong></h2>
    <p class=" text-green-400 text-3xl mt-10 mb-20 ">Quit smoking <br>In <strong>3 months</strong></p>
  </div>
    <%= link_to "Let's start", new_user_session_path, class: "shadow-md bg-green-400 hover:bg-green-300 text-white font-bold mb-32 py-4 px-20 rounded-full text-xl" %>

</div>


