<h1>Pairing page</h1>

<h2>If you have your buddy click on pairing</h2>
<input type="button" value="PAIRING" onclick="msg(sorry not available yet)">

<h3>else</h3>

<%= link_to "Start without devise", prepwork_path %>
