<div class="container mx-auto flex flex-col h-screen overflow-auto items-center">
  <p class="text-orange-400 mb-24 text-center text-3xl">Today you smoked:</p>
 <div id=mybtn class="flex-grow w-full flex items-center justify-center">
    <div class="circle bg-indigo-700" style="animation-delay: -3s"></div>
    <div class="circle bg-indigo-700" style="animation-delay: -2s"></div>
    <div class="circle bg-indigo-700" style="animation-delay: -1s"></div>
    <div class="circle bg-indigo-700" style="animation-delay: 0s"></div>
  </div>
  <p class="text-orange-400 mb-24 text-center text-3xl">Click when you smoke</p>
</div>
