<div class="container flex flex-col mx-auto h-screen overflow-auto items-center">
  <h1 class="flex-grow justify-center text-center text-3xl flex-col mt-32">Are you ready to start <br> an amazing <br>  <span class="text-green-400 font-bold">Journey ?</span></h1>
  <button class="shadow-md bg-green-400 hover:bg-green-300 text-white font-bold mb-32 py-4 px-20 rounded-full text-xl">
    GO!
  </button>
</div>
