<div class="container h-screen px-4 bg-grey-200">
  <div class="flex flex-col">

    <div class="text-center text-xl font-bold text-indigo-700"> <h1>Your statistics</h1></div>

  <div class=" p-2 text-m text-left"><h2>Since you started:</h2></div>



<div class="flex p-2">
  <svg class="flex-shrink-0 w-12 h-12 text-blue-400 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <div class= "m-4 flex flex-col">
    <p class="text-xl font-bold">Saved</p>
    <p class="text-blue-400 font-bold"> 33 cigarettes</p>
    <p class="text-sm"> Number of cigarettes you saved thanks to you determination!</p>
  </div>
</div>


<div class="flex p-2">
  <svg class="flex-shrink-0 w-12 h-12 text-red-600 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <div class= "m-4 flex flex-col">
    <p class="text-xl font-bold"> Money </p>
    <p class="text-red-600 font-bold"> 16€ </p>
    <p class="text-sm">You have saved 16€ since you started.</p>
  </div>
</div>



<div class="flex p-2">
  <svg class="flex-shrink-0 w-12 h-12 text-yellow-400 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <div class= "m-4 flex flex-col">
    <p class="text-xl font-bold"> Heart attack </p>
    <p class="text-yellow-400 font-bold"> 66 % </p>
    <p class="text-sm">By reducing your consumption, you have reduced your risk of a heart attack by 2/3</p>
  </div>
</div>


<div class="flex p-2">
  <svg class="flex-shrink-0 w-12 h-12 text-blue-600 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <div class= "m-4 flex flex-col">
    <p class="text-xl font-bold"> Friends </p>
    <p class="text-blue-600 font-bold">143 likes / 534 € </p>
    <p class="text-sm">Support received from your loved ones along the journey</p>
  </div>
</div>




<div class="flex p-2">
  <svg class="flex-shrink-0 w-12 h-12 text-teal-300 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
   <div class= "m-4 flex flex-col">
    <p class="text-xl font-bold"> Best Shot </p>
    <p class="text-teal-300 font-bold"> 3 days streak </p>
    <p class="text-sm">Number of days in a row you have achieved your goals.</p>
  </div>
</div>

  </div>

<%= render "/pages/shared/tabbar" %>
</div>
