<div class="flex flex-col">

  <div class="text-center text-xl font-bold text-indigo-700 mt-10">
    <h1> We earned Trophies!</h1>
  </div>


  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="p-4 flex-1 flex flex-col">
        <div class="card">
          <div class="flex flex-col items-center" >
            <p> Day 1:</p>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" viewBox="0 0 128 128"><defs><style>.a{fill:#4950b3;stroke:#fff;stroke-width:3px;}.b{fill:#fff;}.c{stroke:none;}.d{fill:none;}.e{filter:url(#a);}</style><filter id="a" x="0" y="0" width="128" height="128" filterUnits="userSpaceOnUse"><feOffset dx="6" dy="6" input="SourceAlpha"/><feGaussianBlur stdDeviation="3" result="b"/><feFlood flood-opacity="0.161"/><feComposite operator="in" in2="b"/><feComposite in="SourceGraphic"/></filter></defs><g transform="translate(-145 -106)"><g transform="translate(148 109)"><g class="e" transform="matrix(1, 0, 0, 1, -3, -3)"><g class="a" transform="translate(3 3)"><circle class="c" cx="55" cy="55" r="55"/><circle class="d" cx="55" cy="55" r="53.5"/></g></g><g transform="translate(17.795 17.795)"><path class="b" d="M149.319,384.935a1.091,1.091,0,0,0-1.636,1.445l3.524,3.992V401.84a1.091,1.091,0,0,0,2.182,0V389.959a1.092,1.092,0,0,0-.273-.722Z" transform="translate(-125.962 -328.885)"/><path class="b" d="M77.988,226.609a11.374,11.374,0,0,1-1.722-12.493l1.474-3.058a1.091,1.091,0,1,0-1.966-.948L74.3,213.168a13.552,13.552,0,0,0,2.052,14.885l4.56,5.166a1.091,1.091,0,0,0,1.636-1.444Z" transform="translate(-62.333 -179.285)"/><path class="b" d="M142.948,97.552a5.208,5.208,0,0,0-3.62,1.461A5.219,5.219,0,0,0,131,97.685a5.22,5.22,0,0,0-8.262-1.233,5.226,5.226,0,0,0-9.832,2.471V103.5a7.41,7.41,0,0,0-6.458,3.271,1.091,1.091,0,1,0,1.809,1.221,5.241,5.241,0,0,1,6.843-1.684l13.1,7.031a2.088,2.088,0,0,1,0,3.679l-1.718.924a8.553,8.553,0,0,1-7.856.121l-3.97-1.979a1.091,1.091,0,0,0-.974,1.953l3.97,1.979a10.739,10.739,0,0,0,9.863-.152l.131-.07,2.177,2.62a6.7,6.7,0,0,1,1.543,4.271v6.284a1.091,1.091,0,0,0,2.183,0v-6.284a8.885,8.885,0,0,0-2.046-5.666l-1.909-2.3a4.258,4.258,0,0,0,1.476-5.368,5.211,5.211,0,0,0,7.324-.1,5.22,5.22,0,0,0,6.876,2.129v2.6a1.091,1.091,0,0,0,2.183,0v-4.631a5.2,5.2,0,0,0,.727-2.655V102.78A5.233,5.233,0,0,0,142.948,97.552Zm-27.86,6.369v-5a3.045,3.045,0,1,1,6.089,0v8.167l-5.045-2.708A7.59,7.59,0,0,0,115.089,103.921Zm8.272,4.342v-8.09a3.045,3.045,0,0,1,6.089,0v9.4a3.045,3.045,0,0,1-.509,1.682Zm11.316,4.358a3.048,3.048,0,0,1-3.045-3.045v-8.182a3.045,3.045,0,0,1,6.089,0v8.182A3.048,3.048,0,0,1,134.677,112.62Zm8.272,1.117a3.048,3.048,0,0,1-3.045-3.045v-7.913a3.045,3.045,0,0,1,6.089,0v7.913A3.048,3.048,0,0,1,142.948,113.737Z" transform="translate(-90.8 -80.337)"/><path class="b" d="M356.115,285.042a1.091,1.091,0,0,0-1.091,1.091v9.89a9.234,9.234,0,0,1-1.265,4.662l-1.654,2.825a2.7,2.7,0,0,0-.369,1.361V316.8a1.091,1.091,0,1,0,2.183,0V304.871a.51.51,0,0,1,.07-.258l1.654-2.825a11.419,11.419,0,0,0,1.564-5.765v-9.89A1.091,1.091,0,0,0,356.115,285.042Z" transform="translate(-300.558 -243.841)"/><path class="b" d="M337.438,12.345a1.091,1.091,0,0,0,1.508-.327l5.441-8.455a1.091,1.091,0,1,0-1.835-1.181l-5.441,8.455A1.091,1.091,0,0,0,337.438,12.345Z" transform="translate(-287.912 -1.881)"/><path class="b" d="M414.941,22.059a1.091,1.091,0,0,0,1.532-.185l12.1-15.422a1.091,1.091,0,1,0-1.717-1.347l-12.1,15.422a1.091,1.091,0,0,0,.185,1.532Z" transform="translate(-354.209 -4.28)"/><path class="b" d="M469.717,198.14l-4.854,2.7a1.091,1.091,0,1,0,1.061,1.907l4.854-2.7a1.091,1.091,0,1,0-1.061-1.907Z" transform="translate(-396.745 -169.466)"/><path class="b" d="M470.662,319.789l-4.707-2.84a1.091,1.091,0,1,0-1.128,1.869l4.707,2.84a1.091,1.091,0,1,0,1.128-1.869Z" transform="translate(-396.744 -270.971)"/><path class="b" d="M407.107,384.658a1.091,1.091,0,1,0-1.659,1.418l1.749,2.047a1.091,1.091,0,0,0,1.659-1.418Z" transform="translate(-346.23 -328.636)"/><path class="b" d="M440.528,423.773a1.091,1.091,0,0,0-1.659,1.418l6.092,7.13a1.091,1.091,0,0,0,1.659-1.418Z" transform="translate(-374.789 -362.06)"/><path class="b" d="M278.247,19.976a1.09,1.09,0,0,0,1.38-.691l1.2-3.624a1.091,1.091,0,0,0-2.071-.689l-1.2,3.624A1.091,1.091,0,0,0,278.247,19.976Z" transform="translate(-237.123 -12.429)"/><path class="b" d="M128.947,12.018a1.091,1.091,0,1,0,1.835-1.181l-5.441-8.455a1.091,1.091,0,1,0-1.835,1.181Z" transform="translate(-105.388 -1.881)"/><path class="b" d="M12.626,21.026a1.091,1.091,0,1,0,1.708-1.359L1.946,4.1A1.091,1.091,0,1,0,.238,5.458Z" transform="translate(0 -3.425)"/><path class="b" d="M5.73,202.759a1.091,1.091,0,0,0,1.014-1.933l-5.145-2.7A1.091,1.091,0,0,0,.585,200.06Z" transform="translate(0 -169.466)"/><path class="b" d="M9.747,317.32a1.091,1.091,0,0,0-1.5-.37l-4.707,2.84a1.091,1.091,0,1,0,1.128,1.869l4.707-2.84A1.091,1.091,0,0,0,9.747,317.32Z" transform="translate(-2.576 -270.972)"/><path class="b" d="M86.006,384.536a1.091,1.091,0,0,0-1.539.121L82.718,386.7a1.091,1.091,0,1,0,1.659,1.418l1.749-2.047A1.091,1.091,0,0,0,86.006,384.536Z" transform="translate(-70.459 -328.636)"/><path class="b" d="M27.082,423.651a1.091,1.091,0,0,0-1.539.121l-6.092,7.13a1.091,1.091,0,1,0,1.659,1.418l6.092-7.13A1.091,1.091,0,0,0,27.082,423.651Z" transform="translate(-16.398 -362.059)"/><path class="b" d="M213.141,19.285a1.091,1.091,0,0,0,2.071-.689l-1.2-3.624a1.091,1.091,0,1,0-2.071.689Z" transform="translate(-181.052 -12.429)"/></g></g></g></svg>
            <p>12/08/2020</p>
          </div>
        </div>
      <h3 class="mb-4 text-2xl">Warrior determination</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
        </div>
      </div>
    </div>
  </div>


  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="p-4 flex-1 flex flex-col">
        <div class="card">
          <div class="flex items-center pr-16" >
            <p> Day 2:</p>
            <%= image_tag "victory.png", class: 'h-24 w-24 ml-34 object-cover rounded-full' %>
            <p>13/08/2020</p>
          </div>
        </div>
      <h3 class="mb-4 text-2xl">2 days in a row!</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
        </div>
      </div>
    </div>
  </div>



<div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="p-4 flex-1 flex flex-col">
        <div class="card">
          <div class="flex items-center pr-16" >
            <p> Day 3:</p>
            <%= image_tag "fire.png", class: 'h-24 w-24 ml-34 object-cover rounded-full' %>
            <p>14/08/2020</p>
          </div>
        </div>
      <h3 class="mb-4 text-2xl">On fire!</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
        </div>
      </div>
    </div>
  </div>








  </div>
