<div class="container mx-auto bg-gray-100 h-screen flex flex-col justify-center items-center text-white">
  <h1 class="text-indigo-700 text-5xl font-bold mb-8 pt-2">N O W ?</h1>


<div class="flex flex-col text-indigo-700 ">

<div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3 mb-10">
    <div class="bg-white rounded-lg shadow-md overflow-hidden flex-1 flex flex-col">
      <div class="p-4 flex-1 flex flex-col">
        <div class="card">
          <div class="flex justify-center relative" >
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-40 h-40 text-red-400 pt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
            </svg>
          </div>

        </div>
      </div>
    </div>
  </div>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "press.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="text-2xl"><strong>Press</strong> button <br>Everytime you smoke</p>
    </a>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "smoke.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="text-2xl"><strong>Smoke</strong> as usual</p>
    </a>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "touch.png", alt: "alttext", class: 'h-16 w-16 mr-4   object-cover rounded-full' %>
      <p class="text-2xl">We will be in <strong>Touch</strong><br> in one week</p>
    </a>
  </div>
</div>
