.blue-header {
  background: #4B53B9 0% 0% no-repeat padding-box;
  border: 1px solid #4B53B9;
  top: 0px;
  height: 100px;
  width: 100%;
}
.title-header {
  display: flex;
  text-align: center;
  color: white;
}
