wrapper {
  position: absolute;
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
}
.wedge {
  animation: rotate 4s infinite linear;
  width: 4em;
  height: 2em;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.dial-container {
  position: absolute;
  top: 0;
  left: 0em;
  width: 4em;
  height: 2em;
  overflow: hidden;
}
.container1 {
  left: 0em;
}
.container1 .wedge {
  animation: rotate-bg-1 4s ease-in-out forwards;
  border-radius: 4em 4em 0em 0em;
  left: 0;
  transform-origin: 50% 100%;
  background-color: #F56565;
}
.wrapper::after {
  content: "";
  background: #fff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.marker {
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;
  position: absolute;
  top: calc(0% + 2em - 0.25em);

}
.start {
  background: white;
  left: calc(0% + 4em - 0.5em);
}
.end {
  animation: rotate-marker 4s ease-in-out forwards;
  transform-origin: 2em 50%;
  background: #F56565;
  left: 0;
}

/* the values of angle need to be set with ruby*/
@keyframes rotate-marker {
  100% {
    transform: rotateZ(120deg);
  }
}

/* First animation moves 180 degrees in the first 2 seconds */
@keyframes rotate-bg-1 {
  100% {
    transform: rotateZ(120deg);
  }
}

