.day-container {
  border-radius: 4px;
  border: 2px solid;
  box-shadow: 0px 3px 6px #00000029;
  width: 66px;
  height: 96px;
}
.day-title {
  text-align: center;
  font: normal normal bold 14px/21px Poppins;
  color: #4B53B9;
}
.datas {
  margin-top: 30px;
  text-align: center;
 }
.smoked {
  text-align: center;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0.18px;
  color: #E66E6A;
}
.allowed {
  text-align: center;
  font: normal normal bold 18px/27px Poppins;
  letter-spacing: 0.18px;
  color: #97E4D9;
}
