.day-container {
  width: 66px;
  height: 96px;
}
.day-title {
  text-align: center;
  font: normal normal bold 14px/21px Helvetica;
}

.shadow-red {
  box-shadow: 1px 1px 1px 1px black;
}

.shadow-green {
  box-shadow: 1px 1px 4px 1px #89eb80;
}

.datas {
  margin-top: 30px;
  text-align: center;
 }
.smoked {
  text-align: center;
  font: normal normal bold 18px/27px Helvetica;
  letter-spacing: 0.18px;
}
.allowed {
  text-align: center;
  font: normal normal bold 18px/27px Helvetica;
  letter-spacing: 0.18px;
}
